In [19]:
df = pd.read_csv('player_df.csv')

In [31]:
df = df.drop(columns=["arena.id"])

In [35]:
df['arena'].unique()

array(['Challenger League', 'Arena 7', 'Arena 9', 'Arena 11', 'Arena 8',
       'Arena 5', 'Arena 10', 'Arena 4', 'Arena 1', 'Arena 6', 'Arena 3',
       'Arena 2'], dtype=object)

In [37]:
df.shape

(1924352, 11)

In [51]:
df['battleTime'] = pd.to_datetime(df['battleTime'])

In [53]:
df = df.sort_values(['playerId', 'battleTime']).reset_index(drop=True)

In [61]:
df['next_battleTime'] = df.groupby('playerId')['battleTime'].shift(-1)

In [63]:
df['time_until_next'] = (df['next_battleTime'] - df['battleTime']).dt.total_seconds()

In [77]:
df['next_battleTime'].unique()

<DatetimeArray>
[                      'NaT', '2020-12-22 23:07:34+00:00',
 '2020-12-25 09:44:56+00:00', '2020-12-25 09:50:22+00:00',
 '2020-12-25 10:35:27+00:00', '2020-12-25 10:37:37+00:00',
 '2020-12-25 10:40:56+00:00', '2020-12-25 10:45:21+00:00',
 '2020-12-25 10:48:53+00:00', '2020-12-25 10:51:21+00:00',
 ...
 '2020-12-24 22:24:00+00:00', '2020-12-24 22:29:04+00:00',
 '2020-12-24 22:35:17+00:00', '2020-12-26 15:15:52+00:00',
 '2020-12-24 08:44:22+00:00', '2020-12-24 08:53:27+00:00',
 '2020-12-24 08:56:57+00:00', '2020-12-24 09:00:04+00:00',
 '2020-12-24 09:06:53+00:00', '2020-12-19 06:41:06+00:00']
Length: 487901, dtype: datetime64[ns, UTC]

In [75]:
df['time_until_next'].unique()

array([        nan, 2.62474e+05, 2.26000e+02, ..., 4.96039e+05,
       1.35433e+05, 4.39063e+05])

In [87]:
df['time_until_next'].isna().sum()

965666

In [89]:
df.shape

(1924352, 13)

In [103]:
df.head(20)

,battleTime,gameMode.id,playerId,StartingTrophies,TrophyChange,PlayerCrowns,PlayerCards.list,PlayerTotalCard.level,PlayerElixir.average,AverageStartingTrophies,arena,next_battleTime,time_until_next
0,2020-12-23 00:29:31+00:00,72000006,#2000289LL,1775,29,1,"[26000010, 26000011, 26000014, 26000018, 26000...",48,3.375,"2,696.000",Arena 6,NaT,NaN
1,2020-12-19 22:13:00+00:00,72000201,#2000C0UPC,3472,29,1,"[26000005, 26000014, 26000018, 26000021, 26000...",57,3.500,"2,828.250",Arena 11,2020-12-22 23:07:34+00:00,"262,474.000"
2,2020-12-22 23:07:34+00:00,72000006,#2000C0UPC,3792,-30,1,"[26000005, 26000014, 26000018, 26000021, 26000...",60,3.500,"3,170.000",Challenger League,NaT,NaN
3,2020-12-22 03:51:15+00:00,72000006,#2000CPGRG,3562,30,2,"[26000007, 26000011, 26000020, 26000044, 27000...",63,4.625,"2,526.500",Arena 11,NaT,NaN
4,2020-12-25 09:41:10+00:00,72000044,#2000G2LY2,3693,30,3,"[26000011, 26000012, 26000015, 26000016, 26000...",65,4.000,"2,643.250",Challenger League,2020-12-25 09:44:56+00:00,226.000
5,2020-12-25 09:44:56+00:00,72000044,#2000G2LY2,3723,-29,1,"[26000011, 26000012, 26000015, 26000016, 26000...",65,4.000,"3,723.500",Challenger League,2020-12-25 09:50:22+00:00,326.000
6,2020-12-25 09:50:22+00:00,72000044,#2000G2LY2,3694,30,2,"[26000011, 26000012, 26000015, 26000016, 26000...",65,4.000,"3,260.667",Challenger League,2020-12-25 10:35:27+00:00,"2,705.000"
7,2020-12-25 10:35:27+00:00,72000044,#2000G2LY2,3724,-29,0,"[26000011, 26000012, 26000015, 26000016, 26000...",65,4.000,"3,770.667",Challenger League,2020-12-25 10:37:37+00:00,130.000
8,2020-12-25 10:37:37+00:00,72000044,#2000G2LY2,3695,-30,1,"[26000011, 26000012, 26000015, 26000016, 26000...",65,4.000,"3,694.000",Challenger League,2020-12-25 10:40:56+00:00,199.000
9,2020-12-25 10:40:56+00:00,72000044,#2000G2LY2,3665,31,2,"[26000011, 26000012, 26000015, 26000016, 26000...",65,4.000,"3,480.333",Challenger League,2020-12-25 10:45:21+00:00,265.000
10,2020-12-25 10:45:21+00:00,72000044,#2000G2LY2,3696,30,1,"[26000011, 26000012, 26000015, 26000016, 26000...",65,4.000,"2,979.667",Challenger League,2020-12-25 10:48:53+00:00,212.000
11,2020-12-25 10:48:53+00:00,72000044,#2000G2LY2,3726,30,2,"[26000011, 26000012, 26000015, 26000016, 26000...",65,4.000,"3,678.750",Challenger League,2020-12-25 10:51:21+00:00,148.000
12,2020-12-25 10:51:21+00:00,72000044,#2000G2LY2,3756,30,3,"[26000011, 26000012, 26000015, 26000016, 26000...",65,4.000,"3,757.000",Challenger League,2020-12-25 10:55:02+00:00,221.000
13,2020-12-25 10:55:02+00:00,72000044,#2000G2LY2,3786,-30,0,"[26000011, 26000012, 26000015, 26000016, 26000...",65,4.000,"3,453.500",Challenger League,2020-12-25 11:05:44+00:00,642.000
14,2020-12-25 11:05:44+00:00,72000044,#2000G2LY2,3756,30,3,"[26000011, 26000012, 26000015, 26000016, 26000...",65,4.000,"2,894.500",Challenger League,2020-12-25 11:09:13+00:00,209.000
15,2020-12-25 11:09:13+00:00,72000044,#2000G2LY2,3786,30,3,"[26000011, 26000012, 26000015, 26000016, 26000...",65,4.000,"3,793.250",Challenger League,NaT,NaN
16,2020-12-20 02:35:49+00:00,72000201,#2000R2UCY,3519,33,1,"[26000006, 26000007, 26000017, 26000035, 26000...",59,3.625,"3,592.000",Arena 11,2020-12-20 03:18:22+00:00,"2,553.000"
17,2020-12-20 03:18:22+00:00,72000201,#2000R2UCY,3552,29,1,"[26000006, 26000007, 26000035, 26000063, 26000...",60,3.625,"3,550.000",Arena 11,2020-12-20 03:20:59+00:00,157.000
18,2020-12-20 03:20:59+00:00,72000201,#2000R2UCY,3581,-31,0,"[26000006, 26000007, 26000035, 26000063, 26000...",60,3.625,"2,405.750",Arena 11,2020-12-20 03:27:08+00:00,369.000
19,2020-12-20 03:27:08+00:00,72000201,#2000R2UCY,3550,-26,0,"[26000006, 26000007, 26000035, 26000063, 26000...",60,3.625,"3,569.500",Arena 11,2020-12-20 03:30:58+00:00,230.000

In [105]:
df['time_until_next'].describe()

count     958,686.000
mean       38,664.882
std       101,268.389
min             0.000
25%           197.000
50%           248.000
75%         2,309.000
max     1,639,247.000
Name: time_until_next, dtype: float64

In [107]:
df['time_until_next'].quantile([0.25, 0.5, 0.75, 0.9, 0.95, 0.99])

0.250       197.000
0.500       248.000
0.750     2,309.000
0.900   146,080.500
0.950   260,965.750
0.990   504,022.550
Name: time_until_next, dtype: float64

In [109]:
df['time_until_next'].min()

0.0

In [111]:
df['time_until_next'].max()

1639247.0

In [113]:
df['hours_until_next'] = df['time_until_next'] / 3600

In [115]:
df['days_until_next'] = df['time_until_next'] / 86400

In [117]:
df['return_bucket'] = pd.cut(
    df['time_until_next'],
    bins=[-1, 300, 3600, 86400, 604800, float('inf')],
    labels=[
        'Play Again (<5 min)',
        'Short Break (5 min - 1 hr)',
        'Session Break (1 hr - 1 day)',
        'Daily/Weekly Return (1-7 days)',
        'Long Return (>7 days)'
    ]
)

In [127]:
df.head()

,battleTime,gameMode.id,playerId,StartingTrophies,TrophyChange,PlayerCrowns,PlayerCards.list,PlayerTotalCard.level,PlayerElixir.average,AverageStartingTrophies,arena,next_battleTime,time_until_next,hours_until_next,days_until_next,return_bucket
0,2020-12-23 00:29:31+00:00,72000006,#2000289LL,1775,29,1,"[26000010, 26000011, 26000014, 26000018, 26000...",48,3.375,"2,696.000",Arena 6,NaT,NaN,NaN,NaN,NaN
1,2020-12-19 22:13:00+00:00,72000201,#2000C0UPC,3472,29,1,"[26000005, 26000014, 26000018, 26000021, 26000...",57,3.500,"2,828.250",Arena 11,2020-12-22 23:07:34+00:00,"262,474.000",72.909,3.038,Daily/Weekly Return (1-7 days)
2,2020-12-22 23:07:34+00:00,72000006,#2000C0UPC,3792,-30,1,"[26000005, 26000014, 26000018, 26000021, 26000...",60,3.500,"3,170.000",Challenger League,NaT,NaN,NaN,NaN,NaN
3,2020-12-22 03:51:15+00:00,72000006,#2000CPGRG,3562,30,2,"[26000007, 26000011, 26000020, 26000044, 27000...",63,4.625,"2,526.500",Arena 11,NaT,NaN,NaN,NaN,NaN
4,2020-12-25 09:41:10+00:00,72000044,#2000G2LY2,3693,30,3,"[26000011, 26000012, 26000015, 26000016, 26000...",65,4.000,"2,643.250",Challenger League,2020-12-25 09:44:56+00:00,226.000,0.063,0.003,Play Again (<5 min)

In [129]:
df['result'] = (df['TrophyChange'] > 0).astype(int)

In [131]:
df['result'].value_counts()

result
1    962176
0    962176
Name: count, dtype: int64

In [141]:

# Previous result per player
df['prev_result'] = df.groupby('playerId')['result'].shift(1)

In [143]:
g = df.groupby('playerId')['result']

win_series = g.apply(
    lambda x: x * (x.groupby((x != x.shift()).cumsum()).cumcount() + 1)
)

In [145]:
df['win_streak'] = win_series.reset_index(level=0, drop=True)

In [147]:
loss_series = g.apply(
    lambda x: (1 - x) * ((1 - x).groupby(((1 - x) != (1 - x).shift()).cumsum()).cumcount() + 1)
)

In [149]:

df['loss_streak'] = loss_series.reset_index(level=0, drop=True)

In [155]:
df.head()

,battleTime,gameMode.id,playerId,StartingTrophies,TrophyChange,PlayerCrowns,PlayerCards.list,PlayerTotalCard.level,PlayerElixir.average,AverageStartingTrophies,arena,next_battleTime,time_until_next,hours_until_next,days_until_next,return_bucket,result,prev_result,win_streak,loss_streak
0,2020-12-23 00:29:31+00:00,72000006,#2000289LL,1775,29,1,"[26000010, 26000011, 26000014, 26000018, 26000...",48,3.375,"2,696.000",Arena 6,NaT,NaN,NaN,NaN,NaN,1,NaN,1,0
1,2020-12-19 22:13:00+00:00,72000201,#2000C0UPC,3472,29,1,"[26000005, 26000014, 26000018, 26000021, 26000...",57,3.500,"2,828.250",Arena 11,2020-12-22 23:07:34+00:00,"262,474.000",72.909,3.038,Daily/Weekly Return (1-7 days),1,NaN,1,0
2,2020-12-22 23:07:34+00:00,72000006,#2000C0UPC,3792,-30,1,"[26000005, 26000014, 26000018, 26000021, 26000...",60,3.500,"3,170.000",Challenger League,NaT,NaN,NaN,NaN,NaN,0,1.000,0,1
3,2020-12-22 03:51:15+00:00,72000006,#2000CPGRG,3562,30,2,"[26000007, 26000011, 26000020, 26000044, 27000...",63,4.625,"2,526.500",Arena 11,NaT,NaN,NaN,NaN,NaN,1,NaN,1,0
4,2020-12-25 09:41:10+00:00,72000044,#2000G2LY2,3693,30,3,"[26000011, 26000012, 26000015, 26000016, 26000...",65,4.000,"2,643.250",Challenger League,2020-12-25 09:44:56+00:00,226.000,0.063,0.003,Play Again (<5 min),1,NaN,1,0

In [157]:
df[['playerId','result','prev_result','win_streak','loss_streak']].head(20)

      playerId  result  prev_result  win_streak  loss_streak
0   #2000289LL       1          NaN           1            0
1   #2000C0UPC       1          NaN           1            0
2   #2000C0UPC       0        1.000           0            1
3   #2000CPGRG       1          NaN           1            0
4   #2000G2LY2       1          NaN           1            0
5   #2000G2LY2       0        1.000           0            1
6   #2000G2LY2       1        0.000           1            0
7   #2000G2LY2       0        1.000           0            1
8   #2000G2LY2       0        0.000           0            2
9   #2000G2LY2       1        0.000           1            0
10  #2000G2LY2       1        1.000           2            0
11  #2000G2LY2       1        1.000           3            0
12  #2000G2LY2       1        1.000           4            0
13  #2000G2LY2       0        1.000           0            1
14  #2000G2LY2       1        0.000           1            0
15  #2000G2LY2       1        1.000           2            0
16  #2000R2UCY       1          NaN           1            0
17  #2000R2UCY       1        1.000           2            0
18  #2000R2UCY       0        1.000           0            1
19  #2000R2UCY       0        0.000           0            2

In [159]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1924352 entries, 0 to 1924351
Data columns (total 20 columns):
 #   Column                   Dtype
---  ------                   -----
 0   battleTime               datetime64[ns, UTC]
 1   gameMode.id              int64
 2   playerId                 object
 3   StartingTrophies         int64
 4   TrophyChange             int64
 5   PlayerCrowns             int64
 6   PlayerCards.list         object
 7   PlayerTotalCard.level    int64
 8   PlayerElixir.average     float64
 9   AverageStartingTrophies  float64
 10  arena                    object
 11  next_battleTime          datetime64[ns, UTC]
 12  time_until_next          float64
 13  hours_until_next         float64
 14  days_until_next          float64
 15  return_bucket            category
 16  result                   int64
 17  prev_result              float64
 18  win_streak               int64
 19  loss_streak              int64
dtypes: category(1), datetime64[ns, UTC](2), float64(6), int64(8), object(3)
memory usage: 280.8+ MB

In [163]:
df['prev_result'].unique()

array([nan,  1.,  0.])

In [165]:
df['prev_result'] = df['prev_result'].fillna(-1).astype(int)

In [167]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1924352 entries, 0 to 1924351
Data columns (total 20 columns):
 #   Column                   Dtype
---  ------                   -----
 0   battleTime               datetime64[ns, UTC]
 1   gameMode.id              int64
 2   playerId                 object
 3   StartingTrophies         int64
 4   TrophyChange             int64
 5   PlayerCrowns             int64
 6   PlayerCards.list         object
 7   PlayerTotalCard.level    int64
 8   PlayerElixir.average     float64
 9   AverageStartingTrophies  float64
 10  arena                    object
 11  next_battleTime          datetime64[ns, UTC]
 12  time_until_next          float64
 13  hours_until_next         float64
 14  days_until_next          float64
 15  return_bucket            category
 16  result                   int64
 17  prev_result              int64
 18  win_streak               int64
 19  loss_streak              int64
dtypes: category(1), datetime64[ns, UTC](2), float64(5), int64(9), object(3)
memory usage: 280.8+ MB

In [169]:
# Previous trophies for each player (t-1)
df['prev_trophies'] = df.groupby('playerId')['StartingTrophies'].shift(1)

In [171]:
# Change in trophies vs previous match
df['trophy_change_prev'] = df['StartingTrophies'] - df['prev_trophies']

In [173]:
# Net trophy change over last 3 matches (t vs t-3)
df['trophy_trend_3'] = df.groupby('playerId')['StartingTrophies'].diff(3)

In [175]:
df[['playerId','StartingTrophies','prev_trophies',
    'trophy_change_prev','trophy_trend_3']].head(20)

,playerId,StartingTrophies,prev_trophies,trophy_change_prev,trophy_trend_3
0,#2000289LL,1775,NaN,NaN,NaN
1,#2000C0UPC,3472,NaN,NaN,NaN
2,#2000C0UPC,3792,"3,472.000",320.000,NaN
3,#2000CPGRG,3562,NaN,NaN,NaN
4,#2000G2LY2,3693,NaN,NaN,NaN
5,#2000G2LY2,3723,"3,693.000",30.000,NaN
6,#2000G2LY2,3694,"3,723.000",-29.000,NaN
7,#2000G2LY2,3724,"3,694.000",30.000,31.000
8,#2000G2LY2,3695,"3,724.000",-29.000,-28.000
9,#2000G2LY2,3665,"3,695.000",-30.000,-29.000
10,#2000G2LY2,3696,"3,665.000",31.000,-28.000
11,#2000G2LY2,3726,"3,696.000",30.000,31.000
12,#2000G2LY2,3756,"3,726.000",30.000,91.000
13,#2000G2LY2,3786,"3,756.000",30.000,90.000
14,#2000G2LY2,3756,"3,786.000",-30.000,30.000
15,#2000G2LY2,3786,"3,756.000",30.000,30.000
16,#2000R2UCY,3519,NaN,NaN,NaN
17,#2000R2UCY,3552,"3,519.000",33.000,NaN
18,#2000R2UCY,3581,"3,552.000",29.000,NaN
19,#2000R2UCY,3550,"3,581.000",-31.000,31.000

In [177]:
df['matches_played'] = df.groupby('playerId').cumcount() + 1

In [179]:
df['is_first_match'] = (df['matches_played'] == 1).astype(int)

In [181]:
df[['playerId','matches_played','is_first_match']].head(20)

      playerId  matches_played  is_first_match
0   #2000289LL               1               1
1   #2000C0UPC               1               1
2   #2000C0UPC               2               0
3   #2000CPGRG               1               1
4   #2000G2LY2               1               1
5   #2000G2LY2               2               0
6   #2000G2LY2               3               0
7   #2000G2LY2               4               0
8   #2000G2LY2               5               0
9   #2000G2LY2               6               0
10  #2000G2LY2               7               0
11  #2000G2LY2               8               0
12  #2000G2LY2               9               0
13  #2000G2LY2              10               0
14  #2000G2LY2              11               0
15  #2000G2LY2              12               0
16  #2000R2UCY               1               1
17  #2000R2UCY               2               0
18  #2000R2UCY               3               0
19  #2000R2UCY               4               0

In [183]:
df['hour'] = df['battleTime'].dt.hour

In [185]:

df['dayofweek'] = df['battleTime'].dt.dayofweek

In [187]:

df['is_weekend'] = df['dayofweek'].isin([5, 6]).astype(int)

In [189]:
df['hour'].describe()

count   1,924,352.000
mean           11.646
std             6.762
min             0.000
25%             6.000
50%            12.000
75%            17.000
max            23.000
Name: hour, dtype: float64

In [191]:
np.sort(df['hour'].unique())

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23], dtype=int32)

In [193]:
df['dayofweek'].describe()

count   1,924,352.000
mean            3.372
std             1.940
min             0.000
25%             2.000
50%             4.000
75%             5.000
max             6.000
Name: dayofweek, dtype: float64

In [195]:
np.sort(df['dayofweek'].unique())

array([0, 1, 2, 3, 4, 5, 6], dtype=int32)

In [201]:
df.head()

,battleTime,gameMode.id,playerId,StartingTrophies,TrophyChange,PlayerCrowns,PlayerCards.list,PlayerTotalCard.level,PlayerElixir.average,AverageStartingTrophies,arena,next_battleTime,time_until_next,hours_until_next,days_until_next,return_bucket,result,prev_result,win_streak,loss_streak,prev_trophies,trophy_change_prev,trophy_trend_3,matches_played,is_first_match,hour,dayofweek,is_weekend
0,2020-12-23 00:29:31+00:00,72000006,#2000289LL,1775,29,1,"[26000010, 26000011, 26000014, 26000018, 26000...",48,3.375,"2,696.000",Arena 6,NaT,NaN,NaN,NaN,NaN,1,-1,1,0,NaN,NaN,NaN,1,1,0,2,0
1,2020-12-19 22:13:00+00:00,72000201,#2000C0UPC,3472,29,1,"[26000005, 26000014, 26000018, 26000021, 26000...",57,3.500,"2,828.250",Arena 11,2020-12-22 23:07:34+00:00,"262,474.000",72.909,3.038,Daily/Weekly Return (1-7 days),1,-1,1,0,NaN,NaN,NaN,1,1,22,5,1
2,2020-12-22 23:07:34+00:00,72000006,#2000C0UPC,3792,-30,1,"[26000005, 26000014, 26000018, 26000021, 26000...",60,3.500,"3,170.000",Challenger League,NaT,NaN,NaN,NaN,NaN,0,1,0,1,"3,472.000",320.000,NaN,2,0,23,1,0
3,2020-12-22 03:51:15+00:00,72000006,#2000CPGRG,3562,30,2,"[26000007, 26000011, 26000020, 26000044, 27000...",63,4.625,"2,526.500",Arena 11,NaT,NaN,NaN,NaN,NaN,1,-1,1,0,NaN,NaN,NaN,1,1,3,1,0
4,2020-12-25 09:41:10+00:00,72000044,#2000G2LY2,3693,30,3,"[26000011, 26000012, 26000015, 26000016, 26000...",65,4.000,"2,643.250",Challenger League,2020-12-25 09:44:56+00:00,226.000,0.063,0.003,Play Again (<5 min),1,-1,1,0,NaN,NaN,NaN,1,1,9,4,0

In [205]:
df.to_csv("clash_retention_clean.csv", index=False)

In [209]:
import plotly.graph_objects as go


BLUE = "#1f77b4"
GOLD = "#ffbf00"


win_rate = 0.5303
loss_rate = 0.2661

outcomes = ["Loss", "Win"]
rates = [loss_rate, win_rate]
colors = [GOLD, BLUE]

fig = go.Figure()


fig.add_trace(go.Bar(
    x=outcomes,
    y=[r100 for r in rates],
    marker_color=colors,
    width=0.45
))


for x, r in zip(outcomes, rates):
    fig.add_annotation(
        x=x,
        y=r100 + 1,
        text=f"{r*100:.1f}%",
        showarrow=False,
        font=dict(size=16, color="black"),
        xanchor="center",
        yanchor="bottom"
    )

fig.update_layout(
    title="Fast Return Rate by Match Outcome",
    yaxis_title="Fast Return Rate (%)",
    xaxis_title="Match Outcome",
    template="plotly_white",
    yaxis=dict(dtick=10)
)

fig.show()

NameError: name 'r100' is not defined